.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.course__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    width: 100%;
}

.course__description h3 {
    font-size: 2rem;
    font-weight: 700;
}

.course__description p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}