.category {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--text-primary);
    padding: 1rem;
    background-color: var(--bg-category);
    border-radius: 10px;
    height: 100%;
}

.category__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category__content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 70%;
}

.category__content h3 {
    margin: 0;
    padding: 0;
}

.category__content p {
    line-height: 2;
}

@media screen and (max-width: 664px) {
    .category__content {
        width: 100%;
        text-align: center;
    }
    
    .category__image {
        display: none;
    }
}