.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.profile__container {
    width: 80%;
}

.profile__header {
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-size: 2.5rem;
}

.profile__dashboard {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 400px) {
    .profile__title {
        font-size: 2rem;
        height: 30vh;
    }
}