.profile {
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
    display: flex;
    justify-content: center;
}

.profile__container {
    width: 80%;
}

.dashboard__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-size: 2.5rem;
}