:root {
  --bg-primary: #1c1c1c;
  --bg-secondary: #1C71B8;
  --bg-tertiary: #63A2F3;
  --bg-category: #5286EF;
  --bg-category-cyber: #B42FDB;
  --bg-category-cloud: #707384;
  --bg-category-development: #003481;
  --bg-category-system: #4C6CB5;
  --text-primary: #fff;
  --text-secondary: #1c1c1c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}