.course-navigation {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 20%;
    padding: 2rem;
    overflow-y: auto;
    max-height: 100vh;
}

.course-navigation__back {
    cursor: pointer;
    text-decoration: none;
    color: #666B70;
}

.course-navigation__title {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}