.button {
  font: inherit;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  color: inherit;
  background: var(--bg-primary);
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 700;
}

.button--secondary {
  background: var(--bg-secondary);
  border: 0px;
}

.button--tertiary {
  background: #fff;
  border: 0px;
  color: #000;
}

.button--outline {
  background: transparent;
}
